[submodule "default/company"]
	path = default/company
	url = https://github.com/quanttide/quanttide-tech-lab.git
[submodule "examples/execute"]
	path = examples/execute
	url = https://github.com/quanttide/quanttide-execution-lab.git
[submodule "examples/game"]
	path = examples/game
	url = https://github.com/quanttide/quanttide-game-lab.git
[submodule "examples/human"]
	path = examples/human
	url = https://github.com/quanttide/quanttide-human-lab.git
[submodule "examples/org"]
	path = examples/org
	url = https://github.com/quanttide/quanttide-org-lab.git
[submodule "examples/innov"]
	path = examples/innov
	url = https://github.com/quanttide/quanttide-innov-lab.git
